@font-face {
  font-family: "Akaya Telivigala";
  src: url(AkayaTelivigala-Regular.ttf);
}

html,
body {
  padding: 10px;
  margin: 0;
}

body {
  background-image: url(tile.jpg);
}
h2 {
  font-size: 48pt;
  font-family: Akaya Telivigala;
  text-align: center;
  font-weight: bold;
}

.formArea {
  max-width: 600px;
  margin: 0 auto;
  height: 280px;
  background-image: url(formbg.jpg);
  position: relative;
}

textarea {
  resize: none;
}

form {
  position: absolute;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  height: 200px;

  left: 100px;
}

.dateTime {
  margin-left: 50px;
  width: 100px;
}

#btnSave,
#btnReset {
  position: absolute;
  bottom: 50px;
  left: 30px;
  width: 100px;
  background-color: rgb(243, 140, 4);
}
#btnReset {
  margin-left: 210px;
}

h1 {
  font-size: 24pt;
  font-family: Akaya Telivigala;
  text-align: center;
  position: absolute;
  flex: 1;
  bottom: 25px;
  left: 160px;
}

img {
  position: absolute;
}

p {
  position: relative;
  top: 30px;
  color: black;
  padding: 5px;
  font-weight: bold;
}

.noteArea > textarea {
  position: relative;
  top: 35px;
  border: none;
  background: transparent;
  color: black;
  padding: 5px;
  font-size: 11pt;
}
textarea:focus {
  outline: none;
}

.noteTask {
  position: relative;
}

#x_icon {
  position: absolute;
  top: 30px;
  right: -10px;
  opacity: 0;
}
.noteArea:hover + #x_icon {
  opacity: 1;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -10px;
}

#x_icon:hover {
  opacity: 1;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -10px;
}

.notesContainer {
  display: flex;
  justify-content: space-around;
}

.noteTask {
  margin: 40px;
  display: inline-block;
  vertical-align: top;
}

/* fade-In animation: */

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
